.container {
  height: 100%;
  float: right;
  div {
    margin-bottom: 40px;
  }

  .logsContainer {
    min-width: 350px;
    font-size: 14px;
    padding: 16px;
    margin: 12px;
    background-color: burlywood;
    border: 2px solid black;

    span {
      font-weight: bold;
    }
  }
}
