.app {
  display: flex;
  flex-direction: column;
}

.verticalSplitter {
  flex: 1;
}

.horizontalSplitter {
  display: flex;
  height: 100%;
}

.gutter {
  background: rgba(255, 255, 255, 0.05);
  flex-shrink: 0;
}

.gutter-vertical {
  cursor: ns-resize;
}

.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(197, 198, 201);
  background-repeat: no-repeat;
  background-position: 50% center;
}

.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(197, 198, 201);
  background-repeat: no-repeat;
  background-position: 50% center;
}

.splitContainer {
  overflow: auto;
  height: 100%;
  display: inline-block;
}
