.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  background: linear-gradient(
    90deg,
    rgba(7, 34, 113, 1) 0%,
    rgba(27, 47, 110, 1) 50%,
    rgba(23, 91, 176, 1) 100%
  );
  padding: 0 16px;
  color: white;

  .logo {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.1rem;
  }

  .rightContent {
    display: inline-flex;
    gap: 40px;

    svg,
    path {
      width: 24px;
      fill: white;
    }
    .calismaAlani {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .userInfo {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      .userName {
        text-transform: capitalize;
        font-weight: 600;
      }
    }
  }
}

.content {
  display: flex;
  flex: 1;
}
